@{
    ViewBag.Title = "Home Page";
}

<div class="col item social">
    <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#">
        <i class="icon ion-social-twitter"></i>
    </a><a href="#">
        <i class="icon ion-social-snapchat"></i>
    </a><a href="#">
        <i class="icon ion-social-instagram"></i>
    </a>
</div>
                